body {
  margin: 0;
  padding: 0;
}

/* swim */
.title {
  font-size: 70px;
  font-family: Lato;
  padding: 0;
  margin: 0;
  letter-spacing: 12px;
  padding-top: 10px;
  padding-left: 180px;
}

#text-wrapper {
  background-color: rgb(197, 203, 196);
  height: 300px;
  width: 60%;
}

.swimpic {
  width: 60%;
  height: 83%;
  padding: 0;
  bottom: 0;
  position: absolute;
}

#paragraph-wrapper {
  height: 100%;
  position: absolute;
  left: 62%;
  top: 0;
}

#first-paragraph {
  padding: 0;
  margin-top: 29px;;
}

#paragraph-wrapper p {
  font-family: Josefin Sans;
}

#signature {
  margin-left: 400px;
  font-size: 20px;
}

#quote {
  position: absolute;
  font-family: Tangerine;
  font-size: 60px;
  color: white;
  bottom: 50px;
  left: 150px;
}

#swim {
  width: 100%;
  height: 100%;
  background-color: rgb(58, 140, 236);
}

/* basketball page */
#ball {
  width: 100%;
  height: 100%;
  position: relative;
}

/* ballislife */
#ballislife-container {
  width: 320px;
  height: 100px;
  background-color:rgb(0, 0, 0);
  opacity: 0.5;
  position: absolute;
  z-index: 50;
  left:40%;
  margin-top: 40px;
}

#ballislife {
  color: white;
  font-family: Lato;
  font-size: 50px;
  padding-left: 15px;
  margin: 18 0;
}

/* paragraph */
#ball-paragraph-container {
  width: 600px;
  height: 200px;
  position: absolute;
  z-index: 50;
  left: 45%;
  margin-top: 450px;
  z-index: 60;
}

#ball-paragraph {
  color: white;
  font-family: Lato;
}

#ball-coverup {
  width: 630px;
  height: 150px;
  position: absolute;
  left: 44%;
  margin-top: 450px;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  z-index: 50;
}

/* league page */
#league-page {
  width: 100%;
  height: 100%;
}

#godyr {
  width: 100%;
  height: 100%;
}

#league-title {
  font-family: Josefin Sans;
  color: white;
  font-size: 50px;
  position: absolute;
  letter-spacing: 3px;
  padding-left: 100px;
}

#league-container {
  position: absolute;
  width: 600px;
  height: 100px;
  margin: 150 40;
  z-index: 50;
}

#league-paragraph {
  font-family: Lato;
  color: white;
  position: absolute;
}

#league-coverup {
  background-color: rgb(0,0,0);
  opacity: 0.3;
  width: 600px;
  height: 100px;
  position: absolute;
  margin: 150 20;
}

/* slideout menu */
.navbar {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 800;
}

#menu-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("https://cloud.githubusercontent.com/assets/14798163/12802004/e1e67ef8-ca95-11e5-8877-c80e1cd7f791.png");
}

#menu-container {
  position: relative;
  margin-top: 25px;
  margin-right: 40px;
  float: right;
  width: 30px;
  height: 30px;
  background-color: white;
}

#menu-container:hover {
  background-color: rgb(23, 165, 226);
  cursor: pointer;
  z-index: 300;
}

/* menu */
.slideout-menu-container {
  width: 300px;
  height: 470px;
  position: relative;
  background-color: #081F3F;
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  border-top: solid black 2px;
}

.slideout-container {
  width: 300px;
  height: 470px;
  position: absolute;
  right: -320px;
}

.slideout-menu{
  list-style-type: none;
  padding-top: 50px;
  padding-left: 0px;
}

.slideout-options {
  border-top: 2px solid white;
  list-style-type: none;
  color: white;
  font-family: Lato;
  font-size: 30px;
  padding: 30px;
  text-align: center;
}

.slideout-options:hover {
  background-color: rgb(170, 165, 171);
  cursor: pointer;
}

.slideout-menu a{
  text-decoration: none;
}

#homeicon {
  width: 50px;
  height: 50px;
  margin: 30 auto;
  display: block;
  opacity: 0.7;
}

#homeicon:hover {
  cursor: pointer;
}

#contact {
  border-bottom: 2px solid white;
}
