body {
  padding: 0px;
  margin: 0px;
  background-color: black;

}
/* nav */
.navbar {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 800;
}

#menu-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("https://cloud.githubusercontent.com/assets/14798163/12802004/e1e67ef8-ca95-11e5-8877-c80e1cd7f791.png");
}

#menu-container {
  position: relative;
  margin-top: 25px;
  margin-right: 40px;
  float: right;
  width: 30px;
  height: 30px;
  background-color: white;
}

#menu-container:hover {
  background-color: rgb(23, 165, 226);
  cursor: pointer;
  z-index: 300;
}

/* menu */
.slideout-menu-container {
  width: 300px;
  height: 470px;
  position: relative;
  background-color: rgb(7, 15, 69);
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  border-top: solid black 2px;
}

.slideout-container {
  width: 300px;
  height: 470px;
  position: absolute;
  right: -320px;
}

.slideout-menu{
  list-style-type: none;
  padding-top: 50px;
  padding-left: 0px;
}

.slideout-options {
  border-top: 2px solid white;
  list-style-type: none;
  color: white;
  font-family: Lato;
  font-size: 30px;
  padding: 30px;
  text-align: center;
}

.slideout-options:hover {
  background-color: rgb(170, 165, 171);
  cursor: pointer;
}

.slideout-menu a{
  text-decoration: none;
}

#homeicon {
  width: 50px;
  height: 50px;
  margin: 30 auto;
  display: block;
  opacity: 0.7;
}

#homeicon:hover {
  cursor: pointer;
}

#contact {
  border-bottom: 2px solid white;
}

.transparent {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.menu-open{
  background-color: rgba(241, 241, 247, 0.9);
  opacity: 0.5;
}
/* slider */
.slider {
  height: 100%;
  width: 100%;
  position: fixed;
}

/* starter slide */
#starter{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: -5;
}

.graybox {
  background-color: rgb(72, 72, 77);
  opacity: 0.6;
  position: absolute;
  z-index: 80;
}

.sunset-caption {
  position: absolute;
  font-size: 50px;
  color: rgb(223, 218, 218);
  font-family: Lato;
  z-index: 100;
}

/* "The box" */
#sunset-caption-container1 {
  left: 35%;
  top: 42%;
  width: 130px;
  height: 100px;
  position: absolute;
}

#sunset-caption-part1 {
  margin: 11 23;
}

#graybox1 {
  width: 130px;
  height: 80px;
}

/* "thrill" box */
#sunset-caption-container2 {
  left: 38%;
  top: 52.2%;
  width: 150px;
  height: 70px;
  position: absolute;
}

#sunset-caption-part2 {
 margin: 0 21;
}

#graybox2 {
  width: 150px;
  height: 60px;
}

/* "of" box */
#sunset-caption-container3 {
  width: 70px;
  height: 80px;
  position: absolute;
  left: 45.5%;
  top: 59.4%;
}

#sunset-caption-part3 {
  margin: 0 13;
}

#graybox3 {
  width: 100px;
  height: 60px;
}

/* "adventure" box */
#sunset-caption-container4 {
  width: 310;
  height: 80px;
  position: absolute;
  left: 60%;
  top: 73.4%;
  display: none;
}

#sunset-caption-part4 {
  position: absolute;
  font-size: 50px;
  color: rgb(223, 218, 218);
  font-family: Josefin Sans;
  z-index: 100;
  margin: 16 8;
}

#graybox4 {
  width: 310px;
  height: 80px;
}

/* bros slide */
#bros {
  height: 100%;
  width: 60%;
  padding-left: 20%;
}

.bro-caption {
  position: absolute;
  font-size: 50px;
  color: rgb(223, 218, 218);
  font-family: Droid Sans;
  z-index: 100;
}

/* "just a lil" box */
#bro-caption-container1 {
  position: absolute;
  width: 250px;
  height: 80px;
  left: 10%;
  top: 15%;
}

#bro-caption-part1 {
  margin: 10 15;
}

#bro-graybox1 {
  width: 210px;
  height: 80px;
}

/* brotherly love box */
#bro-caption-container2 {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 73%;
  top: 68%;
}

#bro-caption-part2 {
  position: absolute;
  font-size: 50px;
  color: rgb(223, 218, 218);
  font-family: Damion;
  margin: 0 12;
  z-index: 100;
}

#bro-graybox2 {
  width: 300;
  height: 80px;
}

/* squad slide */
#squad {
  height: 100%;
  width: 80%;
  padding-left: 10%;
}

#squad-caption-container1 {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 72%;
  left: 40%;
}

#squad-caption {
  position: absolute;
  font-size: 50px;
  color: rgb(223, 218, 218);
  font-family: Josefin Sans;
  letter-spacing: 20px;
  margin: 15 19;
  z-index: 100;
}

#squad-graybox {
  height: 80px;
  width: 290px;
}

/* prom slide */
#prom {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.prom-caption {
  font-size: 50px;
  font-family: Mr Dafoe;
  z-index: 100;
  margin: 0;
}

#prom-caption-container1 {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 5%;
  left: 65%;
}

#prom-caption2 {
  padding-left: 30px;
}

#prom-caption3 {
  padding-left: 60px;
}

#prom-caption4 {
  font-size: 45px;
  font-family: Mr Dafoe;
  z-index: 100;
  margin: 0;
  padding-left: 80px;
}

/* slider functions */
.active {
  display: block;
}

.not-active {
  display: none;
}

/* dots */
.prev-arrow:hover {
  color: #363636;
  cursor: pointer;
}

.next-arrow:hover {
  color: #363636;
  cursor: pointer;
}

.slider-nav {
  text-align: center;
  position: absolute;
  left: 46.1%;
  bottom: 50;
  z-index: 210;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.dot:hover {
  cursor: pointer;
}

/* about page */
.about-page {
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 300;
}

.heading {
  font-family: Tangerine;
  color: white;
  font-size: 35px;
  text-align: center;
}

.table {
  height: 85%;
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 0;
}

.quad {
  width: 550px;
  height: 300px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.pic {
  width: 100%;
  height: 100%;
  display: block;
}

.pic:hover {
  cursor: pointer;
}

.opacity {
  opacity: 0.5;
}

.quad-caption {
  position: absolute;
  font-family: Josefin Sans;
  letter-spacing: 5px;
  margin: 0 auto;
  font-size: 30px;
  display: none;
}

#projectcaption {
  top: 72%;
  left: 68%;
}

#johncaption {
  top: 22%;
  left: 19%;
}

#swimcaption {
  top: 22%;
  left: 67%;
}

#musiccaption {
  top: 72%;
  left: 19%;
}

.pic:hover {
  transform: scale(1.1, 1.1);
  transform-origin: 0, 0;
  -webkit-transition: transform 0.2s ease-in-out;
}

/* music page */
.music-page {
  background-color: black;
  height: 100%;
  width: 100%;
  top: 100%;
  position: relative;
}

.music-slider {
  width: 100%;
  height: 100%;
  position: absolute;
}

.album-container {
  width: 100%;
  height: 100%;
}

.x {
  font-family: Lato;
  font-size: 30px;
  color: white;
  left: 3%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 200;
}

.x:hover {
  cursor: pointer;
}

.album-pic-container {
  height: 400px;
  width: 100%;
}

.artist-info {
  color: white;
  position: absolute;
  left: 44%;
  font-family: Josefin Sans;
  letter-spacing: 5px;
  font-size: 40px;
  margin: 20 0;
}

.song {
  width: 380px;
  height: 75px;
  display: block;
  margin: 0 auto;
}

.play-option {
  background-color: black;
  height: 50px;
  width: 50px;
}

.play-arrow {
  width: 75px;
  height: 75px;
  position: absolute;
  display: none;
}

.album-pic {
  width: 75px;
  height: 75px;
}

.song-name {
  color: white;
  font-family: Josefin Sans;
  padding-left: 15px;
}

.song-opacity {
  opacity: 0.3;
}

.play-option:hover {
  cursor: pointer;
}

/* arrow nav */
.arrow-container {
  width: 100%;
  position: absolute;
  bottom: 320px;
  z-index: 150;
}

.music-arrow {
  width: 70px;
  height: 80px;
}

.music-arrow:hover {
  cursor: pointer;
}

.music-arrow-show {
  display: none;
}

#right-arrow {
  float: right;
}

/* odesza */
#odesza {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
}

.odesza-page {
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 100;
}

/* drake */
.drake-page {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('https://cloud.githubusercontent.com/assets/14798163/12801999/e1d3cc72-ca95-11e5-8ee1-bb3bc2ea6879.jpg');
}

.drake-song {
  width: 380px;
  height: 75px;
  display: block;
}

#drake-song-container {
  position: relative;
  padding-left: 900px;
  bottom: 50%;
}

#hunnid {
  position: relative;
  z-index: 850;
}

/* tobu page */
#tobu {
  display: block;
  margin: 10 auto;
}

#tobuname {
  color: white;
  position: relative;
  font-family: Josefin Sans;
  letter-spacing: 5px;
  font-size: 40px;
  margin: 20 655;
}

.tobu-song {
  width: 380px;
  height: 75px;
  display: block;
  margin: -18 630;
}

#tobu-song-container {
  margin: 0 auto;
  display: block;
}

/* music animation toggles */
.music-active {
  display: block !important;
}

.music-not-active {
  display: none;
}

/* projects-page */
.project-page {
  width: 100%;
  height: 100%;
  background-color: rgb(226, 235, 236);
  top: 200%;
  position: absolute;
}

#projects-title {
  font-size: 50px;
  letter-spacing: 5px;
  color: black;
  font-family: Josefin Sans;
  text-align: center;
  margin: 20px;
}

/* python title */
#python-title-text {
  color: #60AEED;
  font-family: Josefin Sans;
  letter-spacing: 5px;
  font-size: 30px;
}

#python-title {
  left: 33%;
  width: 600;
  height: 60px;
  position: absolute;
}

/* python-slider */
#python-slide1 {
  display: ;
}

#python-slide2 {
  position: absolute;
  display:  none;
}

#python-slide3 {
  position: absolute;
  display: none;
}

#python-slide4 {
  position: absolute;
  display: none;
}
/* python slide captions */
#mealtext1 {
  padding-left: 50px;
}

#mealtext2 {
  padding-left: 30px;
}

#mealtext3 {
  padding-left: 40px;
}

#mealtext4 {
  padding-left: 30px;
}
/* python dot bar */
#python-nav {
  position: absolute;
  left: 42%;
  bottom: 17px;
}

.python-slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.python-slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.python-slider-dots li.python-active-dot {
  color: #60AEED;
}

.python-prev-arrow:hover {
  color:#60AEED;
  cursor: pointer;
}

.python-next-arrow:hover {
  color: #60AEED;
  cursor: pointer;
}

.python-slider {
  width: 1000px;
  height: 500px;
  background-color: #282C34;
  display: block;
  position: absolute;
  left: 15%;
}

.text-container {
  width: 500px;
  height: 500px;
}


/* contact nav
.contact-info-container {
  width: 100%;
  height: 90px;
  background-color: #000952;
  bottom: 0;
  position: absolute;
}

.logo {
  width: 50px;
  height: 50px;
}

.contact-info {
  margin: 15 auto;
}

.contact-info tr td{
  padding:0px 30px;
}

#twitter {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -9px;
  top: -9px;
}

#twitter-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #696969;
}

#graytwittercontainer {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  left: 10px;
  top: 8px;
}

#gmail-container {
  width: 50px;
  height: 50px;
  background-color: #808080;
  border-radius: 50%;
}

#gmail-container:hover {
  cursor: pointer;
}

#gmail {
  padding-top: 9px;
  padding-left: 7px;
  width: 35px;
  height: 30px;
}

.logo {
  opacity: 0.5;
}

#linkedin-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #808080;
  position: relative;
}

#linkedin-container:hover {
  cursor: pointer;
}

#graylinkedin {
  width: 30px;
  height: 30px;
}

#graylinkedincontainer {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  left: 10px;
  top: 8px;
}
*/
